/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

img {
    width: 100%;
}

body {
    background-color: #540B51;
    margin: 0;
    font-family: sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    border-bottom: solid 1px grey;
}

header {
    padding: 0px;
}

#left-flexbox {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    width: 25%;
}

#right-flexbox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: end;
    width: 15%;
}

#right-flexbox > button {
    background-color: #540B51;
    border: none;

}

h1, header p {
    color: white;
    text-align: center;
    padding: 0 10px;
    font-family: sans-serif;
}

#yellow-text {
    color: #ECB12F;
    font-weight:bold;
}

#button-div {
    text-align: center;
    padding: 0px 20px;
}

header button {
    width: 100%;
    margin: 8px 0px;
    height: 40px;
    padding: 4px;
    text-transform: uppercase;
    border-radius: 2px;
    border: none;
    color:#540B51;
    font-weight: bold;
}

#flexbox-button {
    background-color: #4285F4;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 20px 0;
}

#google-img {
    height: 100%;
    width: auto;
    background-color: white;
    border-radius: 2px;
    /* display: flex;
    justify-content: flex-start;
    align-items: center; */
}

#flexbox-button span {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 0 40px 0 0;

}

#hero-img {
    width: 147%;
}

#hero-div {
    overflow: hidden;
    margin: 0;
    padding: 0%;
}

#first-section {
    background-color: #F3EAE2;
    padding: 20px;
}

#first-section p {
    text-transform: uppercase;
    font-size: small;
    text-align: center;
    font-weight: bold;
    margin-bottom: 25px;
}

main {
    background-color: #F3EAE2;

}

#logo-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#logo-div img {
    height: 30px;
    width: auto;
    padding-bottom: 25px;
}


#mobile-1, #mobile-2, #mobile-3 {
    width: 95%;
}
#mobile-div {
    text-align: right;
}

#text-one, #text-two, #text-three {
    padding: 0px 15px 50px 15px;
}
#text-three {
    padding-bottom: 30px;
}

#text-one a, #text-two a, #text-three a {
    text-decoration: none;
    color: #2E71A6;
}
#icon-arrow {
    padding-left: 10px;
    height: 10px;
    width: 15px;
}
#fourth-section {
    background-color: white;
    padding: 50px 15px 30px 15px;
}
#fourth-section h3, #fith-section h3 {
    font-size: 1.5em;
    text-align: center;
    padding: 0px 35px;
}
#fourth-section p {
    text-align: center;
    padding: 0px 10px;
}
#button-teams {
    display: flex; 
    flex-direction: column;
}
#button-teams button {
    margin-bottom: 10px;
    height: 40px;
    text-transform: uppercase;
    font-size: 0.8em;
    border-radius: 2px;
}
#first-button {
    color: white;
    background-color: #540B51;
    border: none;
}
#second-button {
    color: #540B51;
    background-color: white;
    border: solid 1px #540B51;
}
#ul-stats {
    list-style-type: none;
    padding: 0;
    margin: 50px 10px;
    text-align: center;
}
#ul-stats span {
    color: #540B51;
    font-weight: bold;
    font-size: 2.5em;
}
#ul-stats p + p {
    font-weight: bold;
    font-size: 0.8em;
    padding: 0px 70px;
    margin: 0;
}
#ul-stats p {
    margin: 30px 0px 5px 0px;
}
#fith-section {
    background-color: #540B51;
    margin: 0;
    padding: 30px 15px 30px 15px;
}
#fith-section h3 {
    color: white;
}
#third-button {
    color: white;
    background-color: #540B51;
    border: solid 1px white;
}
#fourth-button {
    color: #540B51;
    background-color: white;
    border: none;
}
footer {
    background-color: white;
    color: #454245;
}
footer img {
    width: 15%;
    margin-left: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
}

#footer-menu {
    display:flex;
    justify-content:space-between;
    flex-wrap:nowrap;
    padding: 0 10px;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

#footer-menu li {
    margin: 0;
    font-size : 0.8em;
    padding: 13px 10px;
}

#bold-text {
    font-weight: bold;
    margin-bottom: 25px;
}

hr {
    border: solid lightgray 0.01px;
    margin: 10px 10px 20px 10px;
}

#bottom-page {
    margin-top: 50px;
}

#bottom-page li {
    padding: 15px 20px;
    font-weight: bold;
    font-size : 0.8em;
}

#download-flex, #region-flex {
    display: flex;
    align-items: center;
    margin: 0px 20px;
}
#download-img, #region-img {
    width: 5%;
    margin: 0;
}
#download-flex li {
    color: #2E71A6;
}

#social-media {
    display: flex;
    justify-content: space-between;
    margin: 40px 30px;
    padding: 0;
}

#small-text {
    padding: 0px 20px;
}

footer small {
    font-size: x-small;
}